.card-blog{
    padding-bottom: 3%;
    font-family: $font-main;
    .card-title {
        margin-bottom: .75rem;
        font-weight: bold;
        font-family: $font-header;
    }
    .card-text{
        line-height: 1.5rem;
    }
    .card-footer {
        padding: .75rem 1.25rem;
        background-color: #fff;
        border-top: 0;
    }
}




.card-blog-title{
    font-size: 150%;
    padding-bottom: 2%;
    font-family: $font-header;
    .fa-newspaper {
        color: $color-main-purple;
    }
}

