/*zmniejsz logo żeby width 100% miało taki rozmiar
poczytaj rwd cz2 o img i background*/



.navbar{
    
    a{
    color: $color-font;
        .navbar-brand--logo {
        width: 13%;
        }
    }
    a:not(.navbar-brand)::before{
        content: '';
        display: block;
        top:-10px;
        height: 6px;
        background-color: $color-main-yellow;
        position: relative;
        transform: scale(0,1);
        transition: transform ease-in-out .2s;
    }
}

.navbar a:not(.navbar-brand):hover::before{
    transform: scale(1, 1);
}







