.container.quotation-dog {
    margin-top: -4%;
    margin-bottom: 3%;

    blockquote.blockquote.mb-0{
        text-align: center;
        p{
            padding: 1% 15%;
        }

    }
}

.container.quotation-cat{
    margin-bottom: 3%;
    blockquote.blockquote.mb-0{
        text-align: center;
        p{
            padding: 1% 15%;
        }
    }
}