.slider-dog-content{
    padding: 1em 0;
    float: left;
    width: 50%;
  }
  @media screen and (max-width: 640px){
    .slider-dog-content{
      display: block;
      width: 100%;
    }
  }
  
  @media screen and (min-width: 900px){
    .slider-dog-content{
      width: 33.33333%;
    }
  }
  

  .slider-dog-content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
        .slider-dog-content--overlay {
            background: rgba(118, 37, 150, 0.7);
            position: absolute;
            height: 99%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            transition: all 0.4s ease-in-out 0s;
        }
        img{
            width: 100%;
        }
        &:hover .slider-dog-content--overlay{
            opacity: 1;
        }

  }

  .slider-dog-content--txt {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
        h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            margin-bottom: 0.5em;
            text-transform: uppercase;
        }
        p{
            color: #fff;
            font-size: 1em;
        }
  }

  .slider-dog-content:hover .slider-dog-content--txt{
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .slider-dog-content--txt--bottom{
    top: 80%;
  }




//  TXT ON HOVER
/*
.slider-dog-content{
    padding: 1em 0;
    float: left;
    width: 50%;
  }
  @media screen and (max-width: 640px){
    .slider-dog-content{
      display: block;
      width: 100%;
    }
  }
  
  @media screen and (min-width: 900px){
    .slider-dog-content{
      width: 33.33333%;
    }
  }
  

  .slider-dog-content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }

  .slider-dog-content .slider-dog-content--overlay {
    background: rgba(118, 37, 150, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .slider-dog-content:hover .slider-dog-content--overlay{
    opacity: 1;
  }
  
  .slider-dog-content--img{
    width: 100%;
  }

  .slider-dog-content--txt {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .slider-dog-content:hover .slider-dog-content--txt{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .slider-dog-content--txt h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;

  }

  .slider-dog-content--txt p{
    color: #fff;
    font-size: 0.8em;

  }

  .slider-dog-content--txt--bottom{
    top: 80%;
  }
*/
// hover end

div#slider-wrapper {
    margin-top: 3%;
    .slick-prev:before, .slick-next:before{
        color:$color-main-purple;
}
    .slick-slide img {
        display: block;
        height: 209px;
        padding: 8px;
    }
}




// hover img

/*

.slick-slide{
overflow: hidden;


}

.slick-slide > img{
    transition: transform .5s ease;

  }

  .slick-slide > img:hover{
    transform: scale(1.5);
  }

*/



.slider-dog-content.buttonCat {
    padding-bottom: 3%;
    
}



// buttons

.btn-outline-danger {
    float: right;
    color: $color-main-purple;
    border-color: $color-main-purple;
    &:hover{
            @include button-color(#fff, $color-main-purple);
        }
    }





.btn-outline-danger.focus, .btn-outline-danger:focus, .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba($color-main-purple,.5);
}



.btn-outline-danger:not(:disabled):not(.disabled):active, .show>.btn-outline-danger.dropdown-toggle {
    @include button-color (#fff, $color-main-purple);
}








