.team {
    font-family: $font-main;

    .team-title {
        font-size: 150%;
        padding-bottom: 4%;
        font-family: $font-header;

        .fa-users {
            color: $color-main-purple;
        }
    }

}


.team-member {
    line-height: 1.5;
    text-align: center;

    .team-member-img {
        border-radius: 50%;
        width: 220px;
        height: 220px;
    }

    .team-member-name {
        font-family: $font-header;
        padding-top: 15px;
    }

    .team-member-role {
        font-weight: bold;
        padding-top: 5%;
        color: $color-main-purple;
        text-transform: uppercase;
    }

    .team-member-description {
        padding: 10%;
        text-align: left;
    }
}